<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QUIZ</title>
</head>
<body>
    <h1>Quiz</h1>

    <form action="/" method="POST">

    <p>Question: {{mcq.question}}</p>

    <ol type="A">
        <input type="hidden" name="check_answer" value="{{mcq.answer}}">
        <li><input type="submit" name="option" id="A" value="{{mcq.option1}}"></li><br>
        <li><input type="submit" name="option" id="A" value="{{mcq.option2}}"></li><br>
        <li><input type="submit" name="option" id="A" value="{{mcq.option3}}"></li><br>
        <li><input type="submit" name="option" id="A" value="{{mcq.option4}}"></li><br>
    </ol>
    </form>

</body>
</html>